header {
    display: flex;
}

h2 {
    text-decoration: underline;
}

form {
        text-align: center;
}

nav {
    background-color: black;

    height: 60px;
}

i {
    display:inline;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    height: 100%;
}

label {
    display:block
}

input {
    margin-left: 6px;
}

input[type=button] {
    margin-top: 15px;
}

li a{
    margin-right: 10px;

    font-weight: bold;
    color: #FFF;
}

table {
    width: 100%;
}

table, th, td {
    border: #b9aeae solid 2px;
    border-collapse: collapse;
}

td img {
    display: block;

    width: 235px;
    height: auto;
}

select {
    margin-left: 5px;
}

textarea {
    margin-left: 5px;
    
    width: 200px;
    height: 50px;

    resize: none;
    overflow: scroll;
}
.title-header {
    display: block;
    align-self: center;

    text-align: center;
    font-size: 30px;

    width: 100%;
}
.logo {
    display: block;

    width: 500px;
    height: 150px;
}

.promotion {
    margin-top: 6px;
    margin-bottom: 8px;

    width: 100%;
}

.body {
    display: flex;

    text-align: center;
}
.article {
    min-width: 70%;
    max-width: 100%;
    
}
.column {
    width: 30%;

    background-color: #b9aeae;
}

.column-text {
    margin-top: 0;
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 2px;
    margin-bottom: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
}

.error {
    display: none;
    margin-top: 0;

    font-size: smaller;
    color: rgb(199, 0, 0);
}

.error-sign, .error-sign {
    display: inline;
    color: rgb(199, 0, 0);
}

@media  screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
    nav {
        height: fit-content;
    }
    ul {
        flex-direction: column;
    }

    li {
        margin-top: 3px;
        margin-bottom: 3px;

        font-size: 2rem;
    }
    
    td, th {
        font-size: .9rem;
    }

    td img {
        width: 100%;
        height: auto;
    }

    label {
        font-size: 1.2rem;
    }

    .column {
        display: none;
    }

    .logo {
        width: 100%;
    }   
}